In [1]:
import pandas as pd
pd.options.mode.chained_assignment = None
import chardet
import numpy as np

In [2]:
anos_analisados = list(range(2008, 2023))

In [3]:
csv_vitibrasil_producao = pd.read_csv('../dados_originais/embrapa/Producao.csv', sep=";")
csv_vitibrasil_comercio = pd.read_csv('../dados_originais/embrapa/Comercio.csv', sep=";")
csv_vitibrasil_exportacao = pd.read_csv('../dados_originais/embrapa/ExpVinho.csv', sep=";")
csv_vitibrasil_importacao = pd.read_csv('../dados_originais/embrapa/ImpVinhos.csv', sep=";")
csv_vitibrasil_processamento = pd.read_csv('../dados_originais/embrapa/ProcessaViniferas.csv', sep=";")

In [4]:
def importacao_dados_inmet(csv_file_path : str):

  with open (csv_file_path, "rb") as file:
    bytes = file.read(100)

  encoding_file = chardet.detect(bytes)

  if encoding_file.get("encoding") == 'ascii':
    encoding_file = 'ISO-8859-1'
  else:
    encoding_file = encoding_file.get("encoding")

  return pd.read_csv(csv_file_path
                              , sep=";"
                              , encoding=encoding_file
                              , skiprows=8)

In [5]:
csv_inmet_por_ano = {}

for ano in anos_analisados:
  csv_inmet_por_ano[ano] = importacao_dados_inmet(f'../dados_originais/INMET/INMET_S_RS_A840_BENTO GONCALVES_01-01-{ano}_A_31-12-{ano}.CSV')

csv_inmet_por_ano[2019] = csv_inmet_por_ano[2019].rename(columns={'Hora UTC': 'HORA (UTC)'})
csv_inmet_por_ano[2019] = csv_inmet_por_ano[2019].rename(columns={'Data': 'DATA (YYYY-MM-DD)'})

csv_inmet_por_ano[2020] = csv_inmet_por_ano[2020].rename(columns={'Hora UTC': 'HORA (UTC)'})
csv_inmet_por_ano[2020] = csv_inmet_por_ano[2020].rename(columns={'Data': 'DATA (YYYY-MM-DD)'})
csv_inmet_por_ano[2020] = csv_inmet_por_ano[2020].rename(columns={'RADIACAO GLOBAL (Kj/m²)': 'RADIACAO GLOBAL (KJ/m²)'})

csv_inmet_por_ano[2021] = csv_inmet_por_ano[2021].rename(columns={'Hora UTC': 'HORA (UTC)'})
csv_inmet_por_ano[2021] = csv_inmet_por_ano[2021].rename(columns={'Data': 'DATA (YYYY-MM-DD)'})
csv_inmet_por_ano[2021] = csv_inmet_por_ano[2021].rename(columns={'RADIACAO GLOBAL (Kj/m²)': 'RADIACAO GLOBAL (KJ/m²)'})

csv_inmet_por_ano[2022] = csv_inmet_por_ano[2022].rename(columns={'Hora UTC': 'HORA (UTC)'})
csv_inmet_por_ano[2022] = csv_inmet_por_ano[2022].rename(columns={'Data': 'DATA (YYYY-MM-DD)'})
csv_inmet_por_ano[2022] = csv_inmet_por_ano[2022].rename(columns={'RADIACAO GLOBAL (Kj/m²)': 'RADIACAO GLOBAL (KJ/m²)'})

In [6]:

for ano in anos_analisados:
    if ano != anos_analisados[-1]:
        inicial = 2008
        final = ano+1
        if csv_inmet_por_ano[inicial].columns.tolist() == csv_inmet_por_ano[final].columns.tolist():
            print(inicial, "e", final, 'as colunas são iguais.')
        else:
            print(inicial, "e", final, 'as coluans são diferentes.')

2008 e 2009 as colunas são iguais.
2008 e 2010 as colunas são iguais.
2008 e 2011 as colunas são iguais.
2008 e 2012 as colunas são iguais.
2008 e 2013 as colunas são iguais.
2008 e 2014 as colunas são iguais.
2008 e 2015 as colunas são iguais.
2008 e 2016 as colunas são iguais.
2008 e 2017 as colunas são iguais.
2008 e 2018 as colunas são iguais.
2008 e 2019 as colunas são iguais.
2008 e 2020 as colunas são iguais.
2008 e 2021 as colunas são iguais.
2008 e 2022 as colunas são iguais.

In [7]:
for ano in anos_analisados:
    if ano >= 2019:
        csv_inmet_por_ano[ano]['DATA (YYYY-MM-DD)'] = pd.to_datetime(csv_inmet_por_ano[ano]['DATA (YYYY-MM-DD)'], format='%Y/%m/%d')

In [8]:
colunas_para_converter = ['PRECIPITAÇÃO TOTAL, HORÁRIO (mm)',
    'PRESSAO ATMOSFERICA AO NIVEL DA ESTACAO, HORARIA (mB)',
    'PRESSÃO ATMOSFERICA MAX.NA HORA ANT. (AUT) (mB)',
    'PRESSÃO ATMOSFERICA MIN. NA HORA ANT. (AUT) (mB)',
    'RADIACAO GLOBAL (KJ/m²)',
    'TEMPERATURA DO AR - BULBO SECO, HORARIA (°C)',
    'TEMPERATURA DO PONTO DE ORVALHO (°C)',
    'TEMPERATURA MÁXIMA NA HORA ANT. (AUT) (°C)',
    'TEMPERATURA MÍNIMA NA HORA ANT. (AUT) (°C)',
    'TEMPERATURA ORVALHO MAX. NA HORA ANT. (AUT) (°C)',
    'TEMPERATURA ORVALHO MIN. NA HORA ANT. (AUT) (°C)',
    'UMIDADE REL. MAX. NA HORA ANT. (AUT) (%)',
    'UMIDADE REL. MIN. NA HORA ANT. (AUT) (%)',
    'UMIDADE RELATIVA DO AR, HORARIA (%)',
    'VENTO, DIREÇÃO HORARIA (gr) (° (gr))',
    'VENTO, RAJADA MAXIMA (m/s)',
    'VENTO, VELOCIDADE HORARIA (m/s)',
    'Unnamed: 19']

# Concatenar todos os DataFrames em um único DataFrame
inmet = pd.concat(csv_inmet_por_ano, ignore_index=True)
inmet['DATA (YYYY-MM-DD)'] = pd.to_datetime(inmet['DATA (YYYY-MM-DD)'])
for coluna in colunas_para_converter:
    inmet[coluna] = pd.to_numeric(inmet[coluna], errors='coerce')
inmet_filtrado = inmet[inmet['PRECIPITAÇÃO TOTAL, HORÁRIO (mm)'] != -9999.0]
inmet_filtrado.replace(-9999, np.nan, inplace=True)

In [9]:
agregacoes = {
    'PRECIPITAÇÃO TOTAL, HORÁRIO (mm)': 'sum',
    'PRESSAO ATMOSFERICA AO NIVEL DA ESTACAO, HORARIA (mB)': ['min', 'max', 'mean'],
    # 'PRESSÃO ATMOSFERICA MAX.NA HORA ANT. (AUT) (mB)': 'mean',
    # 'PRESSÃO ATMOSFERICA MIN. NA HORA ANT. (AUT) (mB)': 'mean',
    'RADIACAO GLOBAL (KJ/m²)': 'mean',
    'TEMPERATURA DO AR - BULBO SECO, HORARIA (°C)': ['min', 'max', 'mean'],
    'TEMPERATURA DO PONTO DE ORVALHO (°C)': ['min', 'max', 'mean'],
    # 'TEMPERATURA MÁXIMA NA HORA ANT. (AUT) (°C)',
    # 'TEMPERATURA MÍNIMA NA HORA ANT. (AUT) (°C)',
    # 'TEMPERATURA ORVALHO MAX. NA HORA ANT. (AUT) (°C)',
    # 'TEMPERATURA ORVALHO MIN. NA HORA ANT. (AUT) (°C)',
    # 'UMIDADE REL. MAX. NA HORA ANT. (AUT) (%)',
    # 'UMIDADE REL. MIN. NA HORA ANT. (AUT) (%)',
    'UMIDADE RELATIVA DO AR, HORARIA (%)': ['min', 'max', 'mean'],
    'VENTO, DIREÇÃO HORARIA (gr) (° (gr))': ['min', 'max', 'mean'],
    'VENTO, RAJADA MAXIMA (m/s)': ['min', 'max', 'mean'],
    'VENTO, VELOCIDADE HORARIA (m/s)': ['min', 'max', 'mean'],
    # 'Unnamed: 19': ['min', 'max', 'mean'],
}
inmet_por_dia = inmet_filtrado.groupby('DATA (YYYY-MM-DD)').agg(agregacoes)
inmet_por_dia.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 5394 entries, 2008-01-01 to 2022-12-31
Data columns (total 23 columns):
 #   Column                                                         Non-Null Count  Dtype
---  ------                                                         --------------  -----
 0   (PRECIPITAÇÃO TOTAL, HORÁRIO (mm), sum)                        5394 non-null   float64
 1   (PRESSAO ATMOSFERICA AO NIVEL DA ESTACAO, HORARIA (mB), min)   4887 non-null   float64
 2   (PRESSAO ATMOSFERICA AO NIVEL DA ESTACAO, HORARIA (mB), max)   4887 non-null   float64
 3   (PRESSAO ATMOSFERICA AO NIVEL DA ESTACAO, HORARIA (mB), mean)  4887 non-null   float64
 4   (RADIACAO GLOBAL (KJ/m²), mean)                                3975 non-null   float64
 5   (TEMPERATURA DO AR - BULBO SECO, HORARIA (°C), min)            4858 non-null   float64
 6   (TEMPERATURA DO AR - BULBO SECO, HORARIA (°C), max)            4858 non-null   float64
 7   (TEMPERATURA DO AR - BULBO SECO, HORARIA (°C), mean)           4858 non-null   float64
 8   (TEMPERATURA DO PONTO DE ORVALHO (°C), min)                    4861 non-null   float64
 9   (TEMPERATURA DO PONTO DE ORVALHO (°C), max)                    4861 non-null   float64
 10  (TEMPERATURA DO PONTO DE ORVALHO (°C), mean)                   4861 non-null   float64
 11  (UMIDADE RELATIVA DO AR, HORARIA (%), min)                     5331 non-null   float64
 12  (UMIDADE RELATIVA DO AR, HORARIA (%), max)                     5331 non-null   float64
 13  (UMIDADE RELATIVA DO AR, HORARIA (%), mean)                    5331 non-null   float64
 14  (VENTO, DIREÇÃO HORARIA (gr) (° (gr)), min)                    5318 non-null   float64
 15  (VENTO, DIREÇÃO HORARIA (gr) (° (gr)), max)                    5318 non-null   float64
 16  (VENTO, DIREÇÃO HORARIA (gr) (° (gr)), mean)                   5318 non-null   float64
 17  (VENTO, RAJADA MAXIMA (m/s), min)                              4878 non-null   float64
 18  (VENTO, RAJADA MAXIMA (m/s), max)                              4878 non-null   float64
 19  (VENTO, RAJADA MAXIMA (m/s), mean)                             4878 non-null   float64
 20  (VENTO, VELOCIDADE HORARIA (m/s), min)                         4936 non-null   float64
 21  (VENTO, VELOCIDADE HORARIA (m/s), max)                         4936 non-null   float64
 22  (VENTO, VELOCIDADE HORARIA (m/s), mean)                        4936 non-null   float64
dtypes: float64(23)
memory usage: 1011.4 KB

In [13]:
inmet_por_dia.to_csv('../dados_modificados/INMET_POR_DIA.csv',sep=";", encoding='ISO-8859-1')

In [12]:
inmet_por_dia

                  PRECIPITAÇÃO TOTAL, HORÁRIO (mm)  \
                                               sum
DATA (YYYY-MM-DD)
2008-01-01                                     0.0
2008-01-02                                     0.0
2008-01-03                                     0.0
2008-01-04                                     0.0
2008-01-05                                     0.0
...                                            ...
2022-12-27                                     0.0
2022-12-28                                     1.0
2022-12-29                                     0.0
2022-12-30                                     0.0
2022-12-31                                     0.0

                  PRESSAO ATMOSFERICA AO NIVEL DA ESTACAO, HORARIA (mB)  \
                                                                    min
DATA (YYYY-MM-DD)
2008-01-01                                                     943.0
2008-01-02                                                     940.0
2008-01-03                                                       NaN
2008-01-04                                                     943.0
2008-01-05                                                     945.0
...                                                              ...
2022-12-27                                                       NaN
2022-12-28                                                     937.0
2022-12-29                                                     941.0
2022-12-30                                                     942.0
2022-12-31                                                     942.0

                                     RADIACAO GLOBAL (KJ/m²)  \
                     max        mean                    mean
DATA (YYYY-MM-DD)
2008-01-01         943.0  943.000000                     NaN
2008-01-02         942.0  941.250000             2442.500000
2008-01-03           NaN         NaN              447.000000
2008-01-04         943.0  943.000000             1771.000000
2008-01-05         945.0  945.000000               28.000000
...                  ...         ...                     ...
2022-12-27           NaN         NaN             1467.666667
2022-12-28         940.0  939.000000             1133.000000
2022-12-29         941.0  941.000000              499.000000
2022-12-30         945.0  943.666667                     NaN
2022-12-31         943.0  942.500000             3424.000000

                  TEMPERATURA DO AR - BULBO SECO, HORARIA (°C)        \
                                                           min   max
DATA (YYYY-MM-DD)
2008-01-01                                                21.0  29.0
2008-01-02                                                19.0  19.0
2008-01-03                                                27.0  27.0
2008-01-04                                                25.0  25.0
2008-01-05                                                23.0  26.0
...                                                        ...   ...
2022-12-27                                                16.0  18.0
2022-12-28                                                16.0  22.0
2022-12-29                                                18.0  25.0
2022-12-30                                                25.0  28.0
2022-12-31                                                22.0  29.0

                             TEMPERATURA DO PONTO DE ORVALHO (°C)        ...  \
                        mean                                  min   max  ...
DATA (YYYY-MM-DD)                                                        ...
2008-01-01         25.000000                                 18.0  20.0  ...
2008-01-02         19.000000                                 16.0  18.0  ...
2008-01-03         27.000000                                 17.0  20.0  ...
2008-01-04         25.000000                                 19.0  20.0  ...
2008-01-05         24.666667                                 16.0  19.0  ...
...                      ...                                  ...   ...  ...
2022-12-27         17.000000                                 14.0  15.0  ...
2022-12-28         18.250000                                 13.0  17.0  ...
2022-12-29         21.500000                                 12.0  12.0  ...
2022-12-30         26.666667                                 10.0  13.0  ...
2022-12-31         24.666667                                  NaN   NaN  ...

                  UMIDADE RELATIVA DO AR, HORARIA (%)  \
                                                 mean
DATA (YYYY-MM-DD)
2008-01-01                                  69.416667
2008-01-02                                  72.666667
2008-01-03                                  78.250000
2008-01-04                                  82.083333
2008-01-05                                  79.083333
...                                               ...
2022-12-27                                  79.666667
2022-12-28                                  83.125000
2022-12-29                                  57.375000
2022-12-30                                  56.083333
2022-12-31                                  54.250000

                  VENTO, DIREÇÃO HORARIA (gr) (° (gr))                     \
                                                   min    max        mean
DATA (YYYY-MM-DD)
2008-01-01                                        23.0  260.0  103.500000
2008-01-02                                        38.0  339.0  112.875000
2008-01-03                                        25.0  348.0  152.875000
2008-01-04                                        33.0  341.0  174.666667
2008-01-05                                        92.0  239.0  163.000000
...                                                ...    ...         ...
2022-12-27                                        46.0  337.0  141.875000
2022-12-28                                         4.0  349.0  173.416667
2022-12-29                                        17.0  354.0  163.958333
2022-12-30                                        19.0  304.0  143.666667
2022-12-31                                        16.0  313.0  125.916667

                  VENTO, RAJADA MAXIMA (m/s)                 \
                                         min  max      mean
DATA (YYYY-MM-DD)
2008-01-01                               4.0  4.0  4.000000
2008-01-02                               5.0  5.0  5.000000
2008-01-03                               3.0  7.0  5.500000
2008-01-04                               2.0  9.0  5.333333
2008-01-05                               3.0  9.0  6.833333
...                                      ...  ...       ...
2022-12-27                               4.0  4.0  4.000000
2022-12-28                               8.0  8.0  8.000000
2022-12-29                               8.0  8.0  8.000000
2022-12-30                               5.0  7.0  6.000000
2022-12-31                               6.0  8.0  7.000000

                  VENTO, VELOCIDADE HORARIA (m/s)
                                              min  max      mean
DATA (YYYY-MM-DD)
2008-01-01                                    3.0  3.0  3.000000
2008-01-02                                    1.0  2.0  1.666667
2008-01-03                                    2.0  3.0  2.500000
2008-01-04                                    0.0  2.0  1.200000
2008-01-05                                    0.0  3.0  1.333333
...                                           ...  ...       ...
2022-12-27                                    1.0  2.0  1.500000
2022-12-28                                    3.0  4.0  3.500000
2022-12-29                                    3.0  3.0  3.000000
2022-12-30                                    1.0  4.0  2.500000
2022-12-31                                    3.0  4.0  3.250000

[5394 rows x 23 columns]